.message.is-business-card.has-text-centered
  .message-body
    strong.is-size-4 Blue Balance Pool Service Inc.
    address 772 Jamacha Rd. #128
      br
      |  El Cajon, CA 92019
    p: img( src="/images/logo-small.jpg")
    .contact-row
      a( href="mailto:info@bluebalancepools.com") info@bluebalancepools.com
      span /
      span (619) 441-2583
    div
      | CA LICENSE #
      strong 1021581
