header.hero.is-primary
  .hero-body
    .container
      .level
        .level-left
          div
            h1.title Blue Balance Pool Service
            h2.subtitle Swimming pool service, repairs and installation
        .level-right
          h3.title.is-5.level-item (619) 441-BLUE
          h4.subtitle.is-6.level-item info@bluebalancepools.com
