header.hero.is-primary
  .hero-body
    .container
      .level
        .level-left
          div
            h1.title Blue Balance Pool Service
            h2.subtitle Swimming pool service, repairs and installation
        .level-right
          span.is-size-3.level-item (619) 441-BLUE
          span.icon.level-item: i.fa.fa-dot
          span.is-size-4.level-item info@bluebalancepools.com
