
section.content-section
  h2.title.is-2
    span.icon: i.fa.fa-calendar
    span &nbsp;&nbsp;  Weekly swimming pool service
  include pricing-table.pug

hr
  
section.content-section
  h2.title.is-2
    span.icon: i.fa.fa-wrench
    span &nbsp;&nbsp; Routine equipment maintenance
  include routine-maintenance-table.pug
  
