.pricing-table.extra-push.is-comparative
  .pricing-plan.is-features
    .plan-header &nbsp;
    .plan-price: .plan-price-amount &nbsp;
    .plan-items
      .plan-item Maintain pool chemistry
      .plan-item Empty all baskets
      .plan-item Visual inspection
      .plan-item Brush walls, steps and spa
      .plan-item Net surface debris
      .plan-item Scrub tile
      .plan-item Vacuum pool and spa
      .plan-item Choice of service day
      .plan-item Filter cleanings
      .plan-item Salt cell cleanings
      
  .pricing-plan.is-grey
    .plan-header Chemicals
    .plan-price
      small from
      span.plan-price-amount
        span.plan-price-currency $
        | 80
      | /month &nbsp;
    .plan-items
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item -
      .plan-item -
      .plan-item -
      .plan-item -
      .plan-item -
      .plan-item $85
      .plan-item $35
    .plan-footer
      button.button.is-fullwidth Choose Chem Service
  
  .pricing-plan.is-success.is-active
    .plan-header Standard
    .plan-price
      small from
      span.plan-price-amount
        span.plan-price-currency $
        | 110
      | /month &nbsp;
    .plan-items
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item -
      .plan-item -
      .plan-item $85
      .plan-item $35
    .plan-footer
      button.button.is-fullwidth Choose Standard
        
          
  .pricing-plan.is-primary
    .plan-header Full Service
    .plan-price
      small from
      span.plan-price-amount
        span.plan-price-currency $
        | 130
      | /month  &nbsp;
    
    .plan-items
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item: i.fa.fa-check
      .plan-item -
      .plan-item $85
      .plan-item $35
      
    .plan-footer
      button.button.is-fullwidth Choose Full Service
  
  //- .pricing-plan.is-warning
  //-   .plan-header Gold Service
  //-   .plan-price
  //-     small from
  //-     span.plan-price-amount
  //-       span.plan-price-currency $
  //-       | 200
  //-     | /month  &nbsp;
  //-   
  //-   .plan-items
  //-     .plan-item: i.fa.fa-check
  //-     .plan-item: i.fa.fa-check
  //-     .plan-item: i.fa.fa-check
  //-     .plan-item: i.fa.fa-check
  //-     .plan-item: i.fa.fa-check
  //-     .plan-item: i.fa.fa-check
  //-     .plan-item: i.fa.fa-check
  //-     .plan-item: i.fa.fa-check
  //-     .plan-item: small: em included
  //-     .plan-item: small: em included
  //-     
  //-   .plan-footer
  //-     button.button.is-fullwidth Choose Gold Service
  
