.pricing-table.extra-push
  .pricing-plan.is-info
    .plan-header Filter Cleaning & Inspection
    .plan-price
      span.plan-price-amount
        span.plan-price-currency $
        | 85
      small  (most filters)
    .plan-items
      .plan-item Clean grids or cartridges
      .plan-item Inspect grids, manifold and o-rings
      .plan-item Charge with Diatomations earth (if necessary)
    .plan-footer
      button.button.is-fullwidth Contact us now!
  .pricing-plan.is-danger
    .plan-header Salt Cell Cleaning
    .plan-price
      span.plan-price-amount
        span.plan-price-currency $
        | 35
      small  (most cells)
    .plan-items
      .plan-item Clean salt cell in acid solution
      .plan-item Inspect cell and plates
      .plan-item Test salt level
    .plan-footer
      button.button.is-fullwidth Contact us now!

  .pricing-plan.is-warning
    .plan-header Equipment Checkup
    .plan-price
      span.plan-price-amount
        span.plan-price-currency $
        | 75
      small  (most pools)
    .plan-items
      .plan-item Inspect full equipment set
      .plan-item Check plumbing for leaks
      .plan-item Test salt level
      .plan-item Check all pumps
    .plan-footer
      button.button.is-fullwidth Contact us now!
