.pricing-table.extra-push
  .pricing-plan.is-info
    .plan-header Filter cleaning
    .plan-price
      span.plan-price-amount
        span.plan-price-currency $
        | 85
      small  (most filters)
    .plan-items
      .plan-item Clean grids or cartridges
      .plan-item Inspect grids, manifold and o-rings
      .plan-item Charge with Diatomations earth (if necessary)
    .plan-footer
      p Contact us to set an appointment
  .pricing-plan.is-danger
    .plan-header Salt Cell cleaning
    .plan-price
      span.plan-price-amount
        span.plan-price-currency $
        | 35
      small  (most filters)
    .plan-items
      .plan-item Clean salt cell in acid solution
      .plan-item Inspect cell and plates
      .plan-item Test salt level
    .plan-footer
      p Contact us to set an appointment
