.sidebar
  .message.is-grey
    .message-header
      span
        span.icon: i.fa.fa-map
        span Our service areas
    .message-body
      ul.standard
        li Alpine
        li El Cajon
        li Jamul
        li La Mesa
        li Lakeside
        li Lemon Grove
        li Rancho San Diego
        li Santee
        li Spring Valley
      p.has-text-centered.is-size-7.has-text-weight-semibold Contact us for a free estimate
      
  .message.is-info
    .message-header Our affiliations and qualifications
    .message-body
      ul.standard
        li IPSSA
        li CPO
        li CA licensed subcontractor
  .message.is-grey
    .message-header We install and repair equipment
    .message-body
      ul.standard
        li Pumps
        li Motors
        li Filters
        li Automation
        li Heaters
        li Salt systems
        
  .message.is-grey
    .message-header Our brands
    .message-body
      ul.standard
        li Pentair
        li Jandy
        li Hayward
        li Sta-Rite
        li Polaris
        li Zodiac
        
        li Goldline
        li Pool Seasons
        li Extreme
