
section.item-section
  .columns.flex-columns
    .column
      .box.is-primary
        h3.title.is-5 Automation
        p You can control every aspect of your pool and its equipment from anywhere.
    .column
      .box
        h3.title.is-5 Variable Speed Pumps
        h3.subtitle.is-6 Decrease power consumption considerably
        .content
          p.
            The newest variable speed pumps are the technological wave of the
            future. Most consumers reduce their electric bill by $70 - $100 /month 
            immediately after updgrading.
    .column
      .box
        h3.title.is-5 Salt systems
        h4.subtitle.is-6 Soft, odorless and easy on the skin
        .content
          p.
            A high percentage of pool owners are affected by the harsh nature
            of chlorine as it affect their skin and hair.
          p.
            With salt generated chlorine their is no smell and no negative
            effect on the skin.
        
