doctype html
html
  head
    title Blue Balance Pool Service - Swimming pool service &amp; equipment repair
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    block content
    script(src="https://use.fontawesome.com/6f36bc1d15.js")
